﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Gráfico</title>
    <link href="nv.d3.css" rel="stylesheet" type="text/css" />

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <!--<script src="https://code.jquery.com/jquery-3.1.1.min.js" charset="utf-8"></script>-->
    <!--<script src="http://underscorejs.org/underscore-min.js" charset="utf-8"></script>-->
    <!--<script src="https://d3js.org/d3-time.v1.min.js"></script>-->
    <!--<script src="https://d3js.org/d3-time-format.v2.min.js"></script>-->

    <!--<script src="d3.v3.min.js"></script>-->
    <script src="jquery-3.1.1.min.js"></script>
    <script src="underscore-min.js" ></script>
    <script src="d3-time.v1.min.js"></script>
    <script src="d3-time-format.v2.min.js"></script>
    <script src="teste.js"></script>

    <script src="nv.d3.js"></script>
    <style>
        svg {
            display: block;
        }
        
        html,
        body,
        #chart1 svg {
            margin: 0px;
            padding: 0px;
            height: 100%;
            width: 100%;
        }
        
        .tick line {
            stroke-width: 2px;
            display: none;
            stroke: #0fbab2 !important;
            fill: #0fbab2;
        }
        
        .tick text {
            fill: #b2b2b2;
        }
        
        .nv-guideline {
            stroke-width: 2px;
            stroke: #0fbab2 !important;
            fill: #0fbab2;
        }
        
        .nvd3 .nv-groups path.nv-line {
            fill: none;
        }
        
        .nvd3 .nv-background {
            fill: white;
            fill-opacity: 0;
        }
    </style>
</head>

<body>
    <button id="btnGrafico" onclick="ExibirGrafico2()">Exibir Gráfico</button>
    <button id="btnGrafico2" onclick="ExibirGrafico3()">Exibir Gráfico</button>
    <img src="../build/bolinha.jpg" />
    <div class="col-md-1 button-arrows-container" style="position: absolute; left: 50px;width: 60px; height: 92%; opacity: .6; background-color: #fff;" ng-click="moveResultadosGraficoEsquerda()">
        <div class="full-width button-svg-icon is-indicator-cursor auto-margin block-displayed is-high-opaque btn-go-back--lg">
            <div ng-include="'images/svgs/ico-goback.svg'" class=" svg-icon "></div>
        </div>
    </div>
    <div id="chart1" class='with-transitions' style="height: 385px; ">
        <!--<svg version="1.1" xmlns="http://www.w3.org/2000/svg"> -->
            <svg version="1.1" >
                <style type="text/css">
                    rect {
                        fill: url(#MyGradient);
                    }
                </style>
                <defs>
                    <linearGradient id="MyGradient" x1="100%" y1="0%" x2="100%" y2="100%">
                        <stop offset="10%" style="stop-color:#aad234;stop-opacity:1.5" />
                        <stop offset="95%" style="stop-color:#fae440;" />
                    </linearGradient>
                </defs>


            </svg>
</div>
    <div>
    <p> fim do grafico </p>
        <button onclick="riseAlert();"> alert</button>
         
    </div>
    <script>

        function ExibirGrafico2() {

            var resultadosNov = JSON.parse('[{"DataDoResultado":"\/Date(1478397600000)\/","IdOperacao":5045,"IdIndicador":9,"Data":"06/11/2016","DiaDoResultado":"06","MesDoResultado":"nov","UnidadeMedidaIndicador":"%","Meta":{"ValorFormatado":"19 %","ValorNumerico":19,"QuantidadeDeGanho":6,"PercentualAtingimento":0},"MelhorResultado":{"ValorFormatado":"14.8 %","ValorNumerico":14.8,"QuantidadeDeGanho":10,"PercentualAtingimento":0},"Resultado":{"ValorFormatado":"38.5 %","ValorNumerico":38.5,"QuantidadeDeGanho":0,"PercentualAtingimento":0.494},"GestorImediato":{"Nome":"ROBERTA RIBEIRO BARBOSA","Id":1047}},{"DataDoResultado":"\/Date(1478484000000)\/","IdOperacao":5045,"IdIndicador":9,"Data":"07/11/2016","DiaDoResultado":"07","MesDoResultado":"nov","UnidadeMedidaIndicador":"%","Meta":{"ValorFormatado":"19 %","ValorNumerico":19,"QuantidadeDeGanho":6,"PercentualAtingimento":0},"MelhorResultado":{"ValorFormatado":"16.5 %","ValorNumerico":38.5,"QuantidadeDeGanho":10,"PercentualAtingimento":0},"Resultado":{"ValorFormatado":"50 %","ValorNumerico":38.5,"QuantidadeDeGanho":0,"PercentualAtingimento":0.38},"GestorImediato":{"Nome":"ROBERTA RIBEIRO BARBOSA","Id":1047}},{"DataDoResultado":"\/Date(1478570400000)\/","IdOperacao":5045,"IdIndicador":9,"Data":"08/11/2016","DiaDoResultado":"08","MesDoResultado":"nov","UnidadeMedidaIndicador":"%","Meta":{"ValorFormatado":"19 %","ValorNumerico":19,"QuantidadeDeGanho":6,"PercentualAtingimento":0},"MelhorResultado":{"ValorFormatado":"16.8 %","ValorNumerico":16.8,"QuantidadeDeGanho":10,"PercentualAtingimento":0},"Resultado":{"ValorFormatado":"22.2 %","ValorNumerico":22.2,"QuantidadeDeGanho":4,"PercentualAtingimento":0.856},"GestorImediato":{"Nome":"ROBERTA RIBEIRO BARBOSA","Id":1047}},{"DataDoResultado":"\/Date(1478656800000)\/","IdOperacao":5045,"IdIndicador":9,"Data":"09/11/2016","DiaDoResultado":"09","MesDoResultado":"nov","UnidadeMedidaIndicador":"%","Meta":{"ValorFormatado":"19 %","ValorNumerico":19,"QuantidadeDeGanho":6,"PercentualAtingimento":0},"MelhorResultado":{"ValorFormatado":"16.2 %","ValorNumerico":16.2,"QuantidadeDeGanho":10,"PercentualAtingimento":0},"Resultado":{"ValorFormatado":"41.4 %","ValorNumerico":41.4,"QuantidadeDeGanho":0,"PercentualAtingimento":0.459},"GestorImediato":{"Nome":"ROBERTA RIBEIRO BARBOSA","Id":1047}},{"DataDoResultado":"\/Date(1478743200000)\/","IdOperacao":5045,"IdIndicador":9,"Data":"10/11/2016","DiaDoResultado":"10","MesDoResultado":"nov","UnidadeMedidaIndicador":"%","Meta":{"ValorFormatado":"19 %","ValorNumerico":19,"QuantidadeDeGanho":6,"PercentualAtingimento":0},"MelhorResultado":{"ValorFormatado":"15.8 %","ValorNumerico":15.8,"QuantidadeDeGanho":10,"PercentualAtingimento":0},"Resultado":{"ValorFormatado":"0 %","ValorNumerico":0,"QuantidadeDeGanho":10,"PercentualAtingimento":1},"GestorImediato":{"Nome":"ROBERTA RIBEIRO BARBOSA","Id":1047}},{"DataDoResultado":"\/Date(1479175200000)\/","IdOperacao":5045,"IdIndicador":9,"Data":"15/11/2016","DiaDoResultado":"15","MesDoResultado":"nov","UnidadeMedidaIndicador":"%","Meta":{"ValorFormatado":"19 %","ValorNumerico":19,"QuantidadeDeGanho":6,"PercentualAtingimento":0},"MelhorResultado":{"ValorFormatado":"13.3 %","ValorNumerico":13.3,"QuantidadeDeGanho":10,"PercentualAtingimento":0},"Resultado":{"ValorFormatado":"25 %","ValorNumerico":25,"QuantidadeDeGanho":0,"PercentualAtingimento":0.76},"GestorImediato":{"Nome":"ROBERTA RIBEIRO BARBOSA","Id":1047}},{"DataDoResultado":"\/Date(1479261600000)\/","IdOperacao":5045,"IdIndicador":9,"Data":"16/11/2016","DiaDoResultado":"16","MesDoResultado":"nov","UnidadeMedidaIndicador":"%","Meta":{"ValorFormatado":"19 %","ValorNumerico":19,"QuantidadeDeGanho":6,"PercentualAtingimento":0},"MelhorResultado":{"ValorFormatado":"16.7 %","ValorNumerico":16.7,"QuantidadeDeGanho":10,"PercentualAtingimento":0},"Resultado":{"ValorFormatado":"16.7 %","ValorNumerico":16.7,"QuantidadeDeGanho":7,"PercentualAtingimento":1.138},"GestorImediato":{"Nome":"ROBERTA RIBEIRO BARBOSA","Id":1047}}]');
            ExibirGrafico(resultadosNov);
        }

        function ExibirGrafico3() {

            var resultados = JSON.parse('[{"DataDoResultado":"\/Date(1470884400000)\/","IdOperacao":5045,"IdIndicador":9,"Data":"11/08/2016","DiaDoResultado":"11","MesDoResultado":"ago","UnidadeMedidaIndicador":"%","Meta":{"ValorFormatado":"--","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"MelhorResultado":{"ValorFormatado":"","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"Resultado":{"ValorFormatado":"0 %","ValorNumerico":0,"QuantidadeDeGanho":10,"PercentualAtingimento":1},"GestorImediato":{"Nome":"ROBERTA RIBEIRO BARBOSA","Id":1047}},{"DataDoResultado":"\/Date(1471057200000)\/","IdOperacao":5045,"IdIndicador":9,"Data":"13/08/2016","DiaDoResultado":"13","MesDoResultado":"ago","UnidadeMedidaIndicador":"%","Meta":{"ValorFormatado":"--","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"MelhorResultado":{"ValorFormatado":"","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"Resultado":{"ValorFormatado":"15.4 %","ValorNumerico":15.4,"QuantidadeDeGanho":10,"PercentualAtingimento":1.305},"GestorImediato":{"Nome":"ROBERTA RIBEIRO BARBOSA","Id":1047}},{"DataDoResultado":"\/Date(1471143600000)\/","IdOperacao":5045,"IdIndicador":9,"Data":"14/08/2016","DiaDoResultado":"14","MesDoResultado":"ago","UnidadeMedidaIndicador":"%","Meta":{"ValorFormatado":"--","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"MelhorResultado":{"ValorFormatado":"","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"Resultado":{"ValorFormatado":"14.3 %","ValorNumerico":14.3,"QuantidadeDeGanho":10,"PercentualAtingimento":1.406},"GestorImediato":{"Nome":"ROBERTA RIBEIRO BARBOSA","Id":1047}},{"DataDoResultado":"\/Date(1471230000000)\/","IdOperacao":5045,"IdIndicador":9,"Data":"15/08/2016","DiaDoResultado":"15","MesDoResultado":"ago","UnidadeMedidaIndicador":"%","Meta":{"ValorFormatado":"--","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"MelhorResultado":{"ValorFormatado":"","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"Resultado":{"ValorFormatado":"13.6 %","ValorNumerico":13.6,"QuantidadeDeGanho":10,"PercentualAtingimento":1.478},"GestorImediato":{"Nome":"ROBERTA RIBEIRO BARBOSA","Id":1047}},{"DataDoResultado":"\/Date(1471316400000)\/","IdOperacao":5045,"IdIndicador":9,"Data":"16/08/2016","DiaDoResultado":"16","MesDoResultado":"ago","UnidadeMedidaIndicador":"%","Meta":{"ValorFormatado":"--","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"MelhorResultado":{"ValorFormatado":"","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"Resultado":{"ValorFormatado":"16.7 %","ValorNumerico":16.7,"QuantidadeDeGanho":7,"PercentualAtingimento":1.204},"GestorImediato":{"Nome":"ROBERTA RIBEIRO BARBOSA","Id":1047}},{"DataDoResultado":"\/Date(1471402800000)\/","IdOperacao":5045,"IdIndicador":9,"Data":"17/08/2016","DiaDoResultado":"17","MesDoResultado":"ago","UnidadeMedidaIndicador":"%","Meta":{"ValorFormatado":"--","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"MelhorResultado":{"ValorFormatado":"","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"Resultado":{"ValorFormatado":"4.8 %","ValorNumerico":4.8,"QuantidadeDeGanho":10,"PercentualAtingimento":4.188},"GestorImediato":{"Nome":"ROBERTA RIBEIRO BARBOSA","Id":1047}},{"DataDoResultado":"\/Date(1471489200000)\/","IdOperacao":5045,"IdIndicador":9,"Data":"18/08/2016","DiaDoResultado":"18","MesDoResultado":"ago","UnidadeMedidaIndicador":"%","Meta":{"ValorFormatado":"--","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"MelhorResultado":{"ValorFormatado":"","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"Resultado":{"ValorFormatado":"5.9 %","ValorNumerico":5.9,"QuantidadeDeGanho":10,"PercentualAtingimento":3.407},"GestorImediato":{"Nome":"ROBERTA RIBEIRO BARBOSA","Id":1047}},{"DataDoResultado":"\/Date(1471575600000)\/","IdOperacao":5045,"IdIndicador":9,"Data":"19/08/2016","DiaDoResultado":"19","MesDoResultado":"ago","UnidadeMedidaIndicador":"%","Meta":{"ValorFormatado":"--","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"MelhorResultado":{"ValorFormatado":"","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"Resultado":{"ValorFormatado":"7.7 %","ValorNumerico":7.7,"QuantidadeDeGanho":10,"PercentualAtingimento":2.61},"GestorImediato":{"Nome":"ROBERTA RIBEIRO BARBOSA","Id":1047}},{"DataDoResultado":"\/Date(1471748400000)\/","IdOperacao":5045,"IdIndicador":9,"Data":"21/08/2016","DiaDoResultado":"21","MesDoResultado":"ago","UnidadeMedidaIndicador":"%","Meta":{"ValorFormatado":"--","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"MelhorResultado":{"ValorFormatado":"","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"Resultado":{"ValorFormatado":"31.3 %","ValorNumerico":31.3,"QuantidadeDeGanho":0,"PercentualAtingimento":0.642},"GestorImediato":{"Nome":"ROBERTA RIBEIRO BARBOSA","Id":1047}},{"DataDoResultado":"\/Date(1471834800000)\/","IdOperacao":5045,"IdIndicador":9,"Data":"22/08/2016","DiaDoResultado":"22","MesDoResultado":"ago","UnidadeMedidaIndicador":"%","Meta":{"ValorFormatado":"--","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"MelhorResultado":{"ValorFormatado":"","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"Resultado":{"ValorFormatado":"40 %","ValorNumerico":40,"QuantidadeDeGanho":0,"PercentualAtingimento":0.503},"GestorImediato":{"Nome":"ROBERTA RIBEIRO BARBOSA","Id":1047}},{"DataDoResultado":"\/Date(1471921200000)\/","IdOperacao":5045,"IdIndicador":9,"Data":"23/08/2016","DiaDoResultado":"23","MesDoResultado":"ago","UnidadeMedidaIndicador":"%","Meta":{"ValorFormatado":"--","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"MelhorResultado":{"ValorFormatado":"","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"Resultado":{"ValorFormatado":"17.6 %","ValorNumerico":17.6,"QuantidadeDeGanho":7,"PercentualAtingimento":1.142},"GestorImediato":{"Nome":"ROBERTA RIBEIRO BARBOSA","Id":1047}},{"DataDoResultado":"\/Date(1472007600000)\/","IdOperacao":5045,"IdIndicador":9,"Data":"24/08/2016","DiaDoResultado":"24","MesDoResultado":"ago","UnidadeMedidaIndicador":"%","Meta":{"ValorFormatado":"--","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"MelhorResultado":{"ValorFormatado":"","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"Resultado":{"ValorFormatado":"22.7 %","ValorNumerico":22.7,"QuantidadeDeGanho":4,"PercentualAtingimento":0.885},"GestorImediato":{"Nome":"ROBERTA RIBEIRO BARBOSA","Id":1047}},{"DataDoResultado":"\/Date(1472094000000)\/","IdOperacao":5045,"IdIndicador":9,"Data":"25/08/2016","DiaDoResultado":"25","MesDoResultado":"ago","UnidadeMedidaIndicador":"%","Meta":{"ValorFormatado":"--","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"MelhorResultado":{"ValorFormatado":"","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"Resultado":{"ValorFormatado":"20 %","ValorNumerico":20,"QuantidadeDeGanho":6,"PercentualAtingimento":1.005},"GestorImediato":{"Nome":"ROBERTA RIBEIRO BARBOSA","Id":1047}},{"DataDoResultado":"\/Date(1472266800000)\/","IdOperacao":5045,"IdIndicador":9,"Data":"27/08/2016","DiaDoResultado":"27","MesDoResultado":"ago","UnidadeMedidaIndicador":"%","Meta":{"ValorFormatado":"--","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"MelhorResultado":{"ValorFormatado":"","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"Resultado":{"ValorFormatado":"20 %","ValorNumerico":20,"QuantidadeDeGanho":6,"PercentualAtingimento":1.005},"GestorImediato":{"Nome":"ROBERTA RIBEIRO BARBOSA","Id":1047}},{"DataDoResultado":"\/Date(1472353200000)\/","IdOperacao":5045,"IdIndicador":9,"Data":"28/08/2016","DiaDoResultado":"28","MesDoResultado":"ago","UnidadeMedidaIndicador":"%","Meta":{"ValorFormatado":"--","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"MelhorResultado":{"ValorFormatado":"","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"Resultado":{"ValorFormatado":"5.9 %","ValorNumerico":5.9,"QuantidadeDeGanho":10,"PercentualAtingimento":3.407},"GestorImediato":{"Nome":"ROBERTA RIBEIRO BARBOSA","Id":1047}},{"DataDoResultado":"\/Date(1472439600000)\/","IdOperacao":5045,"IdIndicador":9,"Data":"29/08/2016","DiaDoResultado":"29","MesDoResultado":"ago","UnidadeMedidaIndicador":"%","Meta":{"ValorFormatado":"--","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"MelhorResultado":{"ValorFormatado":"","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"Resultado":{"ValorFormatado":"16.7 %","ValorNumerico":16.7,"QuantidadeDeGanho":7,"PercentualAtingimento":1.204},"GestorImediato":{"Nome":"ROBERTA RIBEIRO BARBOSA","Id":1047}},{"DataDoResultado":"\/Date(1472526000000)\/","IdOperacao":5045,"IdIndicador":9,"Data":"30/08/2016","DiaDoResultado":"30","MesDoResultado":"ago","UnidadeMedidaIndicador":"%","Meta":{"ValorFormatado":"--","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"MelhorResultado":{"ValorFormatado":"","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"Resultado":{"ValorFormatado":"18.5 %","ValorNumerico":18.5,"QuantidadeDeGanho":7,"PercentualAtingimento":1.086},"GestorImediato":{"Nome":"ROBERTA RIBEIRO BARBOSA","Id":1047}},{"DataDoResultado":"\/Date(1472612400000)\/","IdOperacao":5045,"IdIndicador":9,"Data":"31/08/2016","DiaDoResultado":"31","MesDoResultado":"ago","UnidadeMedidaIndicador":"%","Meta":{"ValorFormatado":"--","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"MelhorResultado":{"ValorFormatado":"","ValorNumerico":0,"QuantidadeDeGanho":0,"PercentualAtingimento":0},"Resultado":{"ValorFormatado":"13 %","ValorNumerico":13,"QuantidadeDeGanho":10,"PercentualAtingimento":1.546},"GestorImediato":{"Nome":"ROBERTA RIBEIRO BARBOSA","Id":1047}}]');

            ExibirGrafico(resultados);
        }

        function ExibirGrafico(data) {
            var xValues;
            nv.addGraph(function() {
                var chart = nv.models.lineChart();

                var fitScreen = false;
                var width = 1768;
                var height = 400;

                chart.interpolate("cardinal");


                chart.pointSize(1);
                chart.useInteractiveGuideline(false);
                chart.noData("There is no Data to display");

                chart.showYAxis(false)
                    .showXAxis(true)
                    .showLegend(true);

                chart.legendPosition("top")
                chart.tooltip.enabled(true);
                chart.interactiveLayer.tooltip.enabled(false);

                setChartViewBox(data);

                function setChartViewBox(data) {

                    var resultado = sinAndCos(data);

                    var xValues = resultado[0].values.map(function(d, i) {
                        return d.x;
                    });
                    var x_domain = d3.extent(data, function(d) {
                        return d.DiaDoResultado;
                    });
                    var xScale = d3.time.scale()
                        .domain(x_domain) // values between for month of january
                        .range([10, 100]);
                    //xValues = d3.set(xValues).values();
                    // xValues.splice(0, 1);

                    chart.lines.dispatch.elementMouseover = function(e) {
                        console.log(e);
                        var line = d3.select(".nv-interactive");
                        line.append("line")
                            .attr("class", "nv-guideline linhaHover")
                            .attr("style", 'stroke: #0fbab2 !important')
                            .attr("x1", e.relativePos[0])
                            .attr("x2", e.relativePos[0])
                            .attr("y1", 305)
                            .attr("y2", 0);

                    };
                    chart.lines.dispatch.elementMouseout = function(e) {
                        d3.select(".nv-interactive").selectAll(".linhaHover").remove();

                    }
                    chart.lines.dispatch.elementClick = function(e) {
                        var line = d3.select(".nv-interactive");
                        line.append("line")
                            .attr("class", "nv-guideline linhaClick")
                            .attr("style", 'stroke: #0fbab2 !important')
                            .attr("x1", e.relativePos[0])
                            .attr("x2", e.relativePos[0])
                            .attr("y1", 305)
                            .attr("y2", 0);
                        line.append("circle")
                            .attr("style", "stroke-width: 3; fill: #0fbab2; fill-opacity: 0; stroke: #0fbab2;")
                            .attr("r", 8)
                            .attr("transform", "translate(" + e.relativePos[0] + ",-7)");
                    }
                    chart.xAxis.dispatch.elementMouseover = function(e) {
                        console.log(e);
                    }
                    chart.xAxis.scale(10)
                        .fontSize("18px")
                        .tickFormat(d3.format(",.0f"))
                        // function(values) {
                        //     var a = _.map(values[0].values, function(v, i) {
                        //         return i
                        //     });
                        //     return a;
                        // }
                        //.ticks(7)
                        .tickValues(xValues) //d3.range(xValues[0], 17, 1))
                        .tickFormat(function(d, i) {
                            var label = parseInt(data[i].DiaDoResultado);
                            return label;
                        })
                        .showMaxMin(false);
                    //chart.xScale(xScale);




                    d3.select('#chart1 svg')
                        .datum(resultado)
                        .transition().duration(18)
                        .call(chart);
                    // d3.select('.nv-lineChart').attr("transform", "translate(0,30)");

                    //                  d3.select(".nv-legendWrap")
                    //.attr("transform", "translate(100,100)")

                    d3.select('.linhaHover').on('click', function(e) {
                        var d3mouse = d3.mouse(this);
                        if (!d3.select('.tick[transform = "translate(' + d3mouse[0] + ',0)"]').empty()) {
                            var line = d3.select(".nv-interactive");
                            line.append("line")
                                .attr("class", "nv-guideline linhaClick")
                                .attr("style", 'stroke: #0fbab2 !important')
                                .attr("x1", e.relativePos[0])
                                .attr("x2", e.relativePos[0])
                                .attr("y1", 305)
                                .attr("y2", 0);
                            line.append("circle")
                                .attr("style", "stroke-width: 3; fill: #0fbab2; fill-opacity: 0; stroke: #0fbab2;")
                                .attr("r", 8)
                                .attr("transform", "translate(" + e.relativePos[0] + ",-7)");

                        }
                    });
                    d3.select('.nv-area').on('mousemove', function(e) {
                        var d3mouse = d3.mouse(this);
                        var posX = d3mouse[0];
                        if (!d3.select('.tick[transform = "translate(' + d3mouse[0] + ',0)"]').empty()) {
                            d3.select(".nv-interactive").selectAll(".linhaHover").remove();


                            var line = d3.select(".nv-interactive");
                            line.append("line")
                                .attr("class", "nv-guideline linhaHover")
                                .attr("style", 'stroke: #0fbab2 !important')
                                .attr("x1", d3mouse[0])
                                .attr("x2", d3mouse[0])
                                .attr("y1", 305)
                                .attr("y2", 0);
                            d3.select('.linhaHover').on('click', function(e) {
                                d3.select(".nv-interactive").selectAll(".linhaHover").remove();
                                console.log(posX);
                                var line = d3.select(".nv-interactive");
                                line.append("line")
                                    .attr("class", "nv-guideline linhaClick")
                                    .attr("style", 'stroke: #0fbab2 !important')
                                    .attr("x1", posX)
                                    .attr("x2", posX)
                                    .attr("y1", 305)
                                    .attr("y2", 0);
                                line.append("circle")
                                    .attr("style", "stroke-width: 3; fill: #0fbab2; fill-opacity: 0; stroke: #0fbab2;")
                                    .attr("r", 8)
                                    .attr("transform", "translate(" + posX + ",-7)");


                            });

                        }
                    })
                }
                nv.utils.windowResize(chart.update);

                return chart;
            });

            function sinAndCos(data) {
                var meta = [],
                    estrelas = [],
                    voce = []

                var resultados = data;

                //voce.push({ x: 1, y: 6 });
                //meta.push({ x: 1, y: 6 });
                //estrelas.push({ x: 1, y: 6 });

                //voce.push({ x: 2, y: 2 });
                //meta.push({ x: 2, y: 3 });
                //estrelas.push({ x: 2, y: 4 });

                //voce.push({ x: 6, y: 6 });
                //meta.push({ x: 6, y: 6 });
                //estrelas.push({ x: 6, y: 6 });

                //meta.unshift({ x: meta[0].x - 1, y: meta[0].y });
                //estrelas.unshift({ x: estrelas[0].x - 1, y: estrelas[0].y });
                //voce.unshift({ x: voce[0].x - 1, y: voce[0].y });
                //voce.push({ x: voce[voce.length - 1].x + 1, y: voce[voce.length - 1].y })

                for (i = 0; i < resultados.length; i++) {
                    meta.push({
                        x: i,
                        y: resultados[i].Meta.ValorNumerico,
                        mes: resultados[i].MesDoResultado
                    });
                    estrelas.push({
                        x: i,
                        y: resultados[i].MelhorResultado.ValorNumerico,
                        mes: resultados[i].MesDoResultado
                    });
                    voce.push({
                        x: i,
                        y: resultados[i].Resultado.ValorNumerico,
                        mes: resultados[i].MesDoResultado
                    });
                }
                //for (var i = 1; i <= 30; i++) {
                //    meta.push({ x: i, y: Math.sin(i / 10) });
                //    estrelas.push({ x: i, y: .5 * Math.cos(i / 10) });
                //    voce.push({ x: i, y: Math.sin(i / 10) * 0.25 + 0.5 });
                //}
                //for (i = 1; i <= 30; i++) {
                //    if (i % 10) {
                //        resultados.push({ "Ano": 2016, "Mes": 11, "Dia": i, "Voce": 30 - i, "Meta": 100 - i, "Estrelas": 90 - i });
                //    } else {
                //        resultados.push({ "Ano": 2016, "Mes": 11, "Dia": i, "Voce": 30 + i, "Meta": 100 + i, "Estrelas": 90 + i });
                //    }
                //}
                return [

                    {
                        values: voce,
                        key: 'Você',
                        color: 'url(#MyGradient)',
                        area: true,
                        fillOpacity: 'initial',
                        strokeWidth: "3px"
                    }, {
                        values: meta,
                        key: "Meta",
                        color: "#bababa",
                        strokeWidth: "3px"
                    }, {
                        values: estrelas,
                        key: "Estrelas",
                        color: "#2f93d1",
                        strokeWidth: "3px"
                    }

                ];
            }
        }
        ExibirGrafico2();

        function desabilitarserie() {
            d3.select("g.nv-legendWrap").selectAll("g.nv-series")
                .filter(function(d) {
                    return d.visible == false;
                })
                .each(function(d) {
                    this.dispatchEvent(new Event("click"));
                });
        }

        function clickLinha() {
            alert('sdsdsd');
        }
    </script>
</body>

</html>